.font-femily{
    font-family: 'Sentencedemo';
    font-weight: 400;
    font-size: 25px;
    line-height: 108.84%;
    text-align: center;
    text-transform: uppercase;
    color: #B0E31B;
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section__item{
    max-width: 480px;
    background: rgba(58, 32, 80, 0.7);
    border: 3px solid #B0E31B;
    border-radius: 30px;
}

.main-section__item p{
    color: rgba(176, 227, 27, 1);
    font-weight: bold;
    font-size: 18px;
    line-height: 108.84%;
    text-align: center;
    margin-top: 14px;
}

.main-section__item span{
    color: #fff;
}


.main-section__box{
    padding: 36px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section__btn{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 30px;
    width: 162px;
    height: 31px;
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 108.84%;
    color: #383E4B;
    text-transform: uppercase;
    background: #B0E31B;
    box-shadow: 0px 4px 4px rgba(203, 196, 196, 0.1);
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 2;
}


.main-section__block{
    display: grid;
    grid-template-columns: 228px 228px;
    grid-template-rows: 228px 228px;
    row-gap: 21px;
    column-gap: 23px;
    margin-top: 130px;
}

.main-section__block button{
    margin-top: 15px;
}

.main-section__bg{
    width: 222px;
    height: 185px;
    background: linear-gradient(180deg, rgba(58, 32, 80, 0) 0%, #3A2050 47.19%);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.main-section__ellipse{
    width: 215px;
    height: 219px;
    background: radial-gradient(50% 50% at 50% 50%, #E9C5F2 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.5;
    filter: blur(5px);
    position: absolute;
    top: 0;
}

.main-section__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: rgba(58, 32, 80, 0.7);
    border: 3px solid #B0E31B;
    border-radius: 20px;
    padding: 5px 6px 20px;
    position: relative;
    z-index:10;
}

.main-section__link--vip{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 27px;
    padding-bottom: 60px;
}



.main-section__bg--vip{
    height: 250px;
}

.main-section__ellipse--vip{
    width: 306px;
    height: 296px;
    top: 20px;
}

.main-section__img--vip{
    top: 20px;
}



.main-section__link--vip button{
    margin-top: 34px;
}
.main-section__link p{
    font-weight: bold;
    font-size: 20px;
    line-height: 108.84%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.main-section__link--vip p{
    font-size: 25px;
}


.main-section__img{
    position: absolute;
    bottom: 0;
}

.top-0{
    top: 0;
}